<%-# This is the page for Company Rankings by complaint count. -%>
<%-# http://localhost:3000/queries/complaint_rankings -%>

<h1>Companies Ranked by Complaint Count</h1>

<br>
<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>



<%# @results.each do |row| %>
	<%#= row["name"] %>
	<%#= row["monthly_average"] %>
<%# end %>

