<%-# This is the Custom User Search page. -%>
<%-# http://localhost:3000/queries/custom_search -%>

<h1>Results</h1>
<% if @results.present? %>

<br>
<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>
<% end %>
<% if !(@results.present?) %>
<h5>No results found!  Try broadening your search.</h5>
<% end %>
<%#= @results %>
<%#= params.inspect %>
<%#= params[:cname] %>
<br>

