<%# This is the page for Dispute Rankings. -%>
<%# http://localhost:3000/queries/dispute_rankings -%>

<h1>Companies Ranked by Disputed Resolutions</h1>


<div class="btn btn-primary btn_bottom">
	<%= link_to "New Search", 'query_directory', id: 'btn_link' %>
</div>
