<%-# This is the page for Product Rankings. -%>
<%-# http://localhost:3000/queries/product_rankings -%>

<h1>Products Ranked by Complaint Count</h1>

<br>
<b>Tabular Results:</b>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>

