<%-# This is the page for Product Rankings. -%>
<%-# http://localhost:3000/queries/product_rankings -%>

<h1>Products Ranked by Complaint Count</h1>


<div class="btn btn-primary">
	<%= link_to "New Query", 'query_directory', id: 'btn_link' %>
</div>
