<%-# This is the page for Timeliness Rankings. -%>
<%-# http://localhost:3000/queries/timeliness_rankings -%>

<h1>Companies Ranked by Response Timeliness</h1>


<div class="btn btn-primary btn_bottom">
	<%= link_to "New Query", 'query_directory', id: 'btn_link' %>
</div>
