// This is the site's default CSS.
// <%= stylesheet_link_tag    'default', media: 'all' %>

body {
	font-size: 14px;
	background-color: #17445c !important;
	height: 100vh;
}

h1 {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

label {
	margin-left: 0.5vw;
}

#btn_link {
	color: white ;
}

.btn_bottom {
	margin-bottom: 2vh;
}

#custom_search {
	margin-top: 2vh;
	//padding-bottom: 2vh;
}

.scroll_container {
	max-height: 40vh;
	overflow-y: auto;
	margin-bottom: 1rem;
}

.state_container {
	max-height: 20vh;
	overflow-y: auto;
	margin-bottom: 0;
}

.align_check {
	display: inline;
	margin-right: -18px;
}

.align_name {
	margin-left: 18px;
	vertical-align: top;
}

.demo_name {
	padding-left: 0.5vw;
}

#main-container {
	background-color: #d6deea;
	min-height: 86vh;
	margin-top: 2vh;
	margin-bottom: 7vh;

}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  text-align: center;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin: 0 auto;
}

.form_category {
	position: relative;
	display: inline-block;
	font-weight: bold;
	//border-bottom: 1px dashed #AAA;
	margin-bottom: 1vh;
}

.landing_pg {
	padding-top: 5vh;
}

.table {
	width:100vw;
	height:70vh;
	color:white;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	font-family:Arial;
	overflow-y:auto;
}

.form_category .tooltiptext {
	margin-left: 0.5vw;
	font-weight: normal;
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px; /* Use half of the width to center the tooltip */
}

.form_category:hover .tooltiptext {
    visibility: visible;
}

.form_category .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.button_row {
	margin-bottom: 2.5rem;
}

#company_tooltip {
	//top: -5px;
}

.fa {
	margin-bottom: 6px;
}

//TODO: Find a way to make buttons narrower on smallest screen size
.btn.btn-primary.d-block.d-md-none {
	margin-bottom: 1rem;
	width: auto !important;
}

tr:nth-child(even) {background-color:black}
tr:nth-child(odd) {background-color:#181b2f}
