// This is the site's default CSS.
// <%= stylesheet_link_tag    'default', media: 'all' %>

body {
	font-size: 14px;
	background-color: #17445c !important;
	height: 100vh;
}

h1 {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h5 {
	text-align: center;
	margin-bottom: 1rem;
}

label {
	margin-left: 0.5vw;
}

select {
	width: 100%;
	max-width: 90%;
}

.calendar label {
	margin-left: 0;
}

#btn_link {
	color: white ;
}

.btn_bottom {
	margin-bottom: 2vh;
}

#custom_search {
	margin-top: 2vh;
	//padding-bottom: 2vh;
}

#select_form {
	overflow-x: visible;
}

.scroll_container {
	//max-height: 40vh;
	max-height: 352px;
	overflow-y: auto;
	margin-bottom: 0.5rem;
}

.filter_name {
	font-style: italic;
	font-weight: bold;
	font-size: 1.15rem;
}

.state_container {
	//max-height: 20vh;
	max-height: 192px;
	overflow-y: auto;
	margin-bottom: 0;
}

.align_check {
	display: inline;
	margin-right: -18px;
}

.align_name {
	margin-left: 18px;
	vertical-align: top;
}

.demo_name {
	padding-left: 0.5vw;
}

#main-container {
	background-color: #d6deea;
	min-height: 86vh;
	margin-top: 2vh;
	margin-bottom: 7vh;

}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  text-align: center;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin: 0 auto;
}

.form_category {
	position: relative;
	display: inline-block;
	font-weight: bold;
	//border-bottom: 1px dashed #AAA;
	margin-bottom: 1vh;
}

.landing_pg {
	padding-top: 5vh;
}

.table {
	width:100vw;
	height:70vh;
	color:white;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	font-family:Arial;
	overflow-y:auto;
}

.form_category .tooltiptext {
	margin-left: 0.5vw;
	font-weight: normal;
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px; /* Use half of the width to center the tooltip */
}

.form_category:hover .tooltiptext {
    visibility: visible;
}

.form_category .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.button_row {
	margin-bottom: 1.5rem;
}

#company_tooltip {
	//top: -5px;
}

.fa {
	margin-bottom: 6px;
}

//TODO: Find a way to make buttons narrower on smallest screen size
// Also make last two buttons same size as the rest.
.btn.btn-primary.d-block.d-md-none {
	margin-bottom: 1rem;
}

tr:nth-child(even) {background-color:black}
tr:nth-child(odd) {background-color:#181b2f}

.tips {
	margin-bottom: 2rem;
}

.tip_head {
	margin-bottom: 0;
	font-weight: bold;
}

.date_label {
	font-style: italic;
}

.date_explanation {
	margin-bottom: 1rem;
}
