<%-# This is the Custom User Search page. -%>
<%-# http://localhost:3000/posts/custom_search -%>

<h1>Results</h1>

<div class="btn btn-primary">
	<%= link_to "New Query", 'query_directory', id: 'btn_link' %>
</div>
