<%# This is the Query Directory page. -%>
<%# http://localhost:3000/posts/query_directory -%>

<h1>Query Directory Page</h1>
<%#= debug @results%>

<div class="btn btn-primary">
	<%= link_to "Query1", 'query1', id: 'btn_link' %>
</div>


<%# Custom User Search goes in this div -%>
<div id = "custom_search" class="container">
	<div class="col-12 text-center">
		<div class="btn btn-primary">
			<%= link_to "Get Results", 'custom_search', id: 'btn_link' %>
		</div>
	</div>
</div>