<%-# This is the Query Directory page. -%>
<%-# http://localhost:3000/posts/query1 -%>
<%= link_to "Home", 'query_directory' %>
<h1>Query 1</h1>
<div class="table #main-container">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>