<%-# This is the Query Directory page. -%>
<%-# http://localhost:3000/posts/query_directory -%>


<%= stylesheet_link_tag    'default', media: 'all' %>

<h1>Query Directory Page</h1>
<%#= debug @results%>