<%-# This is the Query Directory page. -%>
<%-# http://localhost:3000/posts/query1 -%>

<h1>Query 1</h1>
<div class="table">
	<table id="example" class="display">
		<tr>
			<% @results.fetch(0).each do |row, index| %>
				<th> <%= row%>	</th>
			<% end %>		  
		</tr>
	
		  <% @results.each_with_index do |row, index| %>
		    
		      <% row.each_with_index do |value, ind| %>
		        <td> <%= value[1] %> </td>
		      <% end %>
		    </tr>
		  <% end %>
		
	</table>
</div>


<div class="btn btn-primary">
	<%= link_to "New Query", 'query_directory', id: 'btn_link' %>
</div>
